<nav mat-nav-list aria-label="Navegação principal" class="navigation-list">
  <a mat-list-item routerLink="/inicio" routerLinkActive="active-link">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Início</span>
  </a>

  <a mat-list-item routerLink="/cadastro-paciente" routerLinkActive="active-link">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Cadastro de Pacientes</span>
  </a>

  <a mat-list-item routerLink="/atualizar-cadastro" routerLinkActive="active-link">
    <mat-icon matListItemIcon>edit</mat-icon>
    <span matListItemTitle>Atualizar Cadastro</span>
  </a>

  <a mat-list-item routerLink="/agenda" routerLinkActive="active-link">
    <mat-icon matListItemIcon>calendar_month</mat-icon>
    <span matListItemTitle>Agenda</span>
  </a>
</nav>
